<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPB - Search Judicial Opinions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <style>
        body {
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            background-image: url('/static/images/bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .dots::after {
            display: inline-block;
            animation: ellipsis 1s infinite;
            content: "";
            width: 1em;
            text-align: left;
        }

        @keyframes ellipsis {
            0% {
                content: "";
            }
            25% {
                content: ".";
            }
            50% {
                content: "..";
            }
            75% {
                content: "...";
            }
        }
        .btn-gradient {
            background: linear-gradient(90deg, #00C9D2, #1340DF, #5C28DF);
            border: none;
            transition: all 0.5s;
            color: #F0F0F0;
        }
        .btn-gradient:hover {
            color: #F0F0F0;
            background: linear-gradient(90deg, #00A9B2, #102EBA, #4A20BA);
        }
        .btn-gradient:disabled {
            color: #F0F0F0;
        }
        .btn-gradient span {
            color: #F0F0F0;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Judicial Opinion Search</h1>
        <div class="feedback-success-alert alert alert-success" role="alert" style="display:none;">Feedback submitted successfully! Thank you for your contribution.</div>
        <div class="feedback-failed-alert alert alert-danger" role="alert" style="display:none;">An error occurred while submitting your feedback.</div>
        <p>
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#howToUse" role="button" aria-expanded="false" aria-controls="howToUse">
                About this tool
            </a>
        </p>
        <div class="collapse" id="howToUse">
            <div class="card card-body">
                <p>Search by semantics and keywords. A semantic query is required.</p>
                <br>
                <p>Semantic search looks for similar <i>meaning</i> to your query, and keyword search looks for <i>exact</i> matches of the individual words in your query.</p>
                <br>
                <p>Opinions are provided by <a href="https://www.courtlistener.com/">CourtListener</a>.</p>
                <br>
                <h3>Example</h3>
                <br>
                <p>Say you want to look for cases that cite the <a href="https://en.wikipedia.org/wiki/Merchant_Marine_Act_of_1920">Jones Act</a>. A semantic search for "Jones Act" may return decent results, but it's not an ideal semantic query.</p>
                <br>           
                <p>Semantic search compares the <i>meaning</i> of your query with results, not the exact words. This means your query should be a <i>concept</i>, <i>idea</i>, or <i>definition</i>. For a named term or entity, this is usually preferable to the name itself. So, if you want to search for the Jones Act applied to workers' compensation, a semantic search for "seaman workers compensation" returns more accurate results. However, the results may not always explicitly mention the term "Jones Act."</p>
                <br>
                <p>A more powerful method is to <strong>combine</strong> semantic and keyword queries in a single search. A keyword search for "Jones Act" and a semantic search for "seaman workers compensation" returns opinions that explicitly mention the Act <i>and</i> are related to workers compensation.</p>
            </div>
            <br>
        </div>
        <h6 id="resource-count">Please wait a minute<span class="dots"></span></h6>
        <form id="searchForm" method="POST"></form>
        <div class="row mb-3">
            <div class="col-md-5">
                <input required type="text" class="form-control" name="semantic" placeholder="Semantic Search" value="{{ form_data.query if form_data else '' }}" form="searchForm">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="keyword" placeholder="Keyword Search" value="{{ form_data.keyword_query if form_data else '' }}" form="searchForm">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" id="searchButton" form="searchForm">Search</button>
            </div>
        </div>
        {% if results and results_opinion_count and elapsed %}
            <h6>Retrieved {{ results|length }} excerpt{{ 's' if results|length != 1 }} from {{ results_opinion_count }} opinion{{ 's' if results_opinion_count != 1 }} in {{ elapsed }} seconds.</h6>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <div id="collapseTrigger" class="h4" style="cursor: pointer;">Filters <i id="collapseIcon" class="bi bi-chevron-down"></i></div>
                <div id="collapseContent">
                    <div class="mb-3">
                        <label for="after_date" class="form-label">After Date</label>
                        <input type="date" class="form-control" name="after_date" id="after_date" value="{{ form_data.after_date if form_data else '' }}" form="searchForm">
                    </div>
                    <div class="mb-3">
                        <label for="before_date" class="form-label">Before Date</label>
                        <input type="date" class="form-control" name="before_date" id="before_date" value="{{ form_data.before_date if form_data else '' }}" form="searchForm">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jurisdiction</label>
                        <div class="mb-2">
                            <button type="button" class="btn btn-sm btn-outline-primary me-2" id="checkAllJurisdictions">Check All</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" id="clearAllJurisdictions">Clear All</button>
                        </div>
                        {% for jurisdiction in jurisdictions %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="jurisdictions" value="{{ jurisdiction.value }}" id="jurisdiction-{{ loop.index }}" form="searchForm" 
                                {% if not form_data or (form_data and jurisdiction.value in form_data.jurisdictions) or (form_data and not form_data.jurisdictions) %}checked{% endif %}>
                            <label class="form-check-label" for="jurisdiction-{{ loop.index }}">
                                {{ jurisdiction.display }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4>Results</h4>
                {% if results %}
                    {% for result in results %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h5 class="card-title">{{ loop.index }}. {{ result.case_name }}</h5>
                                    <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#feedbackModal{{ result.opinion_id }}"><i class="bi bi-flag"></i></button>
                                </div>
                                <h6 class="card-subtitle mb-2">{{ result.court_name }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% if result.author_name %}
                                        {{ result.author_name }}
                                    {% else %}
                                    Unknown Author
                                    {% endif %}
                                    | {{ result.date_filed }}
                                    {% if result.date_blocked %}
                                        | Blocked {{ result.date_blocked }}
                                    {% endif %}
                                </h6>
                                <p class="card-text"><strong>Opinion Type</strong>: {{ result.opinion_type }}</p>
                                {% if result.url %}
                                    <p class="card-text"><strong>CourtListener Link</strong>: <a href="{{ result.url }}">{{ result.url }}</a></p>
                                {% endif %}
                                {% if result.download_url %}
                                    <p class="card-text"><strong>Download Link</strong>: <a href="{{ result.download_url }}">{{ result.download_url }}</a></p>
                                {% endif %}
                                {% if result.summary %}
                                    <p class="card-text"><strong>CourtListener Summary</strong>:</p>
                                    <div class="ms-2">{{ result.summary | safe }}</div>
                                {% endif %}
                                <p class="card-text"><strong>AI summary</strong>:</p>
                                {% if result.ai_summary %}
                                    <div class="ms-2 summary-{{ result.opinion_id }}"><p class="card-text">{{ result.ai_summary | safe }}</p></div>
                                {% else %}
                                    <button class="btn btn-gradient btn-block mb-2 get-summary opinion-{{ result.opinion_id }}" data-id="{{ result.opinion_id }}">Get Summary</button>
                                    <div class="ms-2 summary-{{ result.opinion_id }}"></div>
                                {% endif %}
                                {% if result.other_dates %}
                                    <p class="card-text"><strong>Other dates</strong>: {{ result.other_dates }}</p>
                                {% endif %}
                                <div class="mt-2">
                                    <p class="card-text"><strong>Matched Excerpt</strong>:</p>
                                    <div class="p-2" style="border: 2px solid #737373; background-color:#F0F0F0; overflow-y: scroll; max-height: 500px;">{{ result.text | safe }}</div>
                                </div>
                            </div>
                            <div class="modal fade" id="feedbackModal{{ result.opinion_id }}" tabindex="-1" aria-labelledby="feedbackModalLabel{{ result.opinion_id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="feedbackModalLabel{{ result.opinion_id }}">Provide Feedback for This Opinion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="feedbackForm{{ result.opinion_id }}">
                                            <div class="form-group">
                                                <label for="feedbackText{{ result.opinion_id }}">Describe what prompted your feedback:</label>
                                                <textarea class="form-control mt-2" id="feedbackText{{ result.opinion_id }}" rows="3" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-2" form="feedbackForm{{ result.opinion_id }}">Submit Feedback</button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No results found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // disable search button until server responds
            document.getElementById('searchButton').disabled = true;
            
            // call resource count endpoint and add the result to the page
            fetch('/resource_count')
                .then(response => response.json())
                .then(data => {
                    if (data["message"] == "Success") {
                        document.getElementById('resource-count').innerHTML = `There are currently ${data["resource_count"].toLocaleString()} opinion excerpts indexed.`;
                        document.getElementById('searchButton').disabled = false;
                    } else {
                        document.getElementById('resource-count').innerHTML = `Unable to index opinions.`;
                    }
                })
                .catch(() => {
                    document.getElementById('resource-count').innerHTML = `Unable to index opinions.`;
                });

            // Get summary functionality
            document.querySelectorAll('.get-summary').forEach(button => {
                button.addEventListener('click', function() {
                    const opinionId = this.dataset.id;
                    const summaryDivs = document.querySelectorAll('.summary-' + opinionId);
                    const allButtons = document.querySelectorAll('.opinion-' + opinionId);

                    allButtons.forEach(btn => {
                        btn.disabled = true;
                        btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Summarizing...';
                    });

                    fetch("/summary/" + opinionId)
                        .then(response => response.text())
                        .then(data => {
                            summaryDivs.forEach(div => {
                                div.innerHTML = '<p class="card-text">' + data + '</p>';
                            });
                            allButtons.forEach(btn => btn.remove());
                        })
                        .catch(() => {
                            allButtons.forEach(btn => {
                                btn.disabled = false;
                                btn.textContent = 'Get Summary';
                            });
                            summaryDiv.innerHTML = 'Error fetching summary. Please try again.';
                        });
                });
            });

            // collapse filters
            let filtersCollapsed = false;
            document.getElementById("collapseTrigger").addEventListener('click', function() {
                const collapseIcon = document.getElementById("collapseIcon");
                const collapseContent = document.getElementById("collapseContent");
                
                if (!filtersCollapsed) {
                    collapseIcon.classList.replace("bi-chevron-down", "bi-chevron-up");
                    collapseContent.style.display = "none";
                } else {
                    collapseIcon.classList.replace("bi-chevron-up", "bi-chevron-down");
                    collapseContent.style.display = "block";
                }
                filtersCollapsed = !filtersCollapsed;
            });

            // Check/Clear All Jurisdictions
            document.getElementById('checkAllJurisdictions').addEventListener('click', function() {
                document.querySelectorAll('.form-check-input').forEach(input => input.checked = true);
            });

            document.getElementById('clearAllJurisdictions').addEventListener('click', function() {
                document.querySelectorAll('.form-check-input').forEach(input => input.checked = false);
            });

            // Loading animation for the search button
            document.getElementById("searchForm").addEventListener('submit', function(event) {
                event.preventDefault();
                const button = document.getElementById("searchButton");
                button.disabled = true;
                button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Searching...';
                event.target.submit();
            });
            
            // Feedback
            document.querySelectorAll('[id^="feedbackForm"]').forEach(form => {
                form.addEventListener('submit', function(e) {
                    e.preventDefault();
                    const opinionId = this.id.replace('feedbackForm', '');
                    const feedbackText = document.getElementById(`feedbackText${opinionId}`).value;
                    
                    fetch('/submit-feedback', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            opinionId: opinionId,
                            feedback: feedbackText
                        })
                    })
                    .then(response => response.json())
                    .then(() => {
                        const modal = document.getElementById(`feedbackModal${opinionId}`);
                        const modalInstance = bootstrap.Modal.getInstance(modal);
                        modalInstance.hide();
                        
                        document.querySelector(".feedback-success-alert").style.display = 'block';
                        setTimeout(() => {
                            document.querySelector(".feedback-success-alert").style.display = 'none';
                        }, 10000);
                    })
                    .catch(() => {
                        const modal = document.getElementById(`feedbackModal${opinionId}`);
                        const modalInstance = bootstrap.Modal.getInstance(modal);
                        modalInstance.hide();
                        
                        document.querySelector(".feedback-failed-alert").style.display = 'block';
                        setTimeout(() => {
                            document.querySelector(".feedback-failed-alert").style.display = 'none';
                        }, 10000);
                    });
                });
            });
        });
    </script>
</body>
</html>